<!--
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <div class="input-group mb-3">
            <input type="text" [(ngModel)] = "numero" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <div class="input-group mb-3">
            <input type="text" disabled [(ngModel)] = "resultado" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" (click)="Calcular()">Calcular</button>
    </div>
</div>
-->

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5 text-center mt-3">
            <h4>Digite um número</h4>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="numero" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="input-group mb-3">
                <input type="text" disabled [(ngModel)]="resultado" class="form-control"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="Verificar()">Verificar</button>
        </div>
    </div>